body{
	background: #fff;
}

#content{
	background: #f1f1f1;
}

#login-bg{
	float:left;
	width: 81px;
}

.good_cases{
	float: left;
	width: 202px;
	height: 227px;
	margin-right: 10px;
	margin-bottom: 20px;
	position: relative;
}

.main_pic{
	width: 202px;
	height: 227px;
}

.title{
	width: 202px;
	height: 19px;
	color: #FFFFFF;
	background: #4a9cc8;
	opacity: 0.8;
	line-height: 19px;
	
}

.student_name{
	float: left;
	margin-left: 7px;
	font-size: 12px;
}
.date{
	float:right;
	margin-right:7px;
	font-size: 12px;
}

.label{
	position: absolute;
	top: 0;
	left: 0;
}


.buttom{
	position: absolute;
	bottom: 0;
	left: 0;
}

.imgtext{
	background: #000000;
	opacity: 0.5;
	width: 182px;
}

.text{
	position:absolute;
	width: 202px;
	bottom: 19px;
}

.top{
	position:absolute;
	top: 19px;
	left: 0;
}
