body {
	background: #e9e9e9;
}

#content {
	background: #f1f1f1;
	padding: 0 0 0 0;
}

#login-bg {
	float: left;
	width: 81px;
}

.zhaokaoxinxi{
	padding-top: 10px;
	margin-left: 120px;
	width: 631px;
	
}
.content_detail{
	background: #FFFFFF;
	padding: 10px 10px 20px 10px;
}

.title{
 	text-align: center;
 	margin-bottom: 20px;
}

.pimg{
	width: 294px;
	height: 200px;
	float: right;
}

.content_detail h2{
	margin-bottom: 30px;
}

.secondh2{
	margin-top: 20px;
}

.content_detail p{
	text-indent: 2em;
	line-height: 24px;
}

.jinrubaoming{
	display: inline-block;
	height: 30px;
	width: 114px;
	background: #ed1556;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
}

.buttom{
	text-align: right;
}
